.booking_card {
  width: 25%;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border: 1px solid gray;
}

.booking_card a {
  color: #000;
  text-decoration: none;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
}

h4 small {
  font-size: 12px;
  font-weight: 300;
}

.cancel_booking_btn {
  margin-right: 15px;
}
