.create_booking_form {
  padding: 0 0 20px;
  width: 50%;
  margin: auto;
}

.align_center {
  text-align: center;
}

.create_booking_form label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  display: block;
  margin: 10px 0;
}

.submit_bookings {
  margin: 10px 0;
  cursor: pointer;
  display: block;
  width: 100%;
}

.form_group {
  display: inline-block;
  width: 50%;
}

.rooms_datepicker input[type="text"] {
  padding: 10px !important;
  width: 100%;
}
